body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4070f4;
}

.containerDiv {
    background-color: white;
    height: 65vh;
    width: 35vw;
    border-radius: 1.5vw;
}

button {
    width: 100%;
    background-color: #0171d3 !important;
}

#errorPara {
    color: red;
}